@{
    ViewBag.Title = "Home Page";
}

<h1 style="font-family: 'Segoe Script'">Nailaddict Academy</h1>
<h4 style="font-family: 'Segoe Print'">Here is the Bio of the owner of this academy</h4>
<div class="row" style="background-color: lightpink; box-shadow: 10px 10px grey; border-radius: 25px ">
    <div class="col-lg-8" >
        <h2 style="font-family: 'Segoe Print'">Bio</h2>
        <p>Hey there! Thanks for coming to check out my website. I am Mogau Sedibeng the founder of NailAddict Academy. I am a UP graduate and if I tell you the degree you won't believe.
        I am n BIT Information Systems graduate. You are probably wondering why do i own a nail academy when i have a degree in IT.
        I have always had the love for art and doing is how I feed that part of me. I never had great exposure and I only used to make my friends and family' nails.
        It was when i was out there in the world that i saw how much money people make from making nails and how i could have used to my advantage a long time ago</p>
        <br />
        <p>I then started my mini business at school but it was not doing well because i didn't know a lot of people. I was then forced to find out great marketing skills
        and it is safe to say i got them. Now i am using the knowledge i have to help potential nail techs out there. I want you to have the exposure you need.
        Use your talent to help make a living for yourself.</p>
    </div>
    <div class="col-lg-4">
        <h2 style="font-family: 'Segoe Print'"> Mogau Sedibeng</h2>

        <img src="~/Media/MyPicture/Picture.jpg" style="width: 200px; height:250px"/>

    </div>
</div>
